<style>
  .message-content {
    font-family: : Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

</style>

<div class="message-content">
  <p> Olá, {{name}} </p>
  <p> Quer trocar de senha ?</p>
  <p>
    <a href="{{link}}">Resetar a minha senha</a>
  </p>
  <p>Se não foi você, descarte este e-mail ! :)</p>

</div>
